<html>
    <head>
    </head>
    <body>
        <div id="react"></div>
        @section scripts {
            <script src="~/dist/main.js" asp-append-version="true"></script>
        }
    </body>
</html>