<html>
    <head>
    </head>
    <body>
        <div id="react"></div>
        <div id="app">
            <div v-if="selectedTag === null">
                <div v-for="tag in tags">
                    <button v-on:click="selectTag(tag)">{{ tag.id }}</button>
                </div>
                <br/>
                <table>
                    <tbody>
                        <tr v-for="point of history">
                            <td>{{ point.date }}</td>
                            <td>{{ point.tagId }}</td>
                            <td v-for="field of point.dynamicValues">
                                {{ field }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="selectedTag !== null">
                <button v-on:click="resetTag">⬅ Back</button>
                <div>{{ selectedTag.id }}</div>
                <div v-for="field of pointInput">
                    {{ field.tagField.name }}
                    <input
                        v-if="field.tagField.type === 'int'"
                        v-bind:value="field.value"
                        v-on:change="parseInt(field, $event.target.value)">
                    <input
                        v-if="field.tagField.type === 'float'"
                        v-model="field.value"
                        v-on:change="parseFloat(field, $event.target.value)">
                    <input
                        v-if="field.tagField.type === 'string'"
                        v-model="field.value"
                        v-on:change="parseString(field, $event.target.value)">
                    <span v-if="field.tagField.type === 'date'">
                        <input
                            v-model="field.value"
                            v-on:change="parseDate(field, $event.target.value)">
                        <button v-on:click="incrementDate(field)">+</button>
                        <button v-on:click="decrementDate(field)">-</button>
                    </span>
                    <input
                        v-if="field.tagField.type === 'time'"
                        v-model="field.value"
                        v-on:change="parseTime(field, $event.target.value)">
                    <span v-if="field.tagField.type === 'enum'">
                        (|<span v-for="value of field.tagField.values"> {{ value }} |</span>)
                        <input
                            v-model="field.value"
                            v-on:change="parseEnum(field, $event.target.value)">
                    </span>
                    {{ field.validationMessage }}
                </div>
                <button v-on:click="submit">Submit</button>
            </div>
            <br/>
            <div v-if="pointJson !== null">Request: </div>
            <pre>{{ pointJson }}</pre>
            <div v-if="response !== null">Response: </div>
            <pre>{{ response }}</pre>
        </div>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-resource@1.1.0/dist/vue-resource.js"></script>
        <script src="https://unpkg.com/moment@2.14.1/moment.js"></script>
        <script src="~/js/Index-vue.js"></script>
        @section scripts {
            <script src="~/dist/main.js" asp-append-version="true"></script>
        }
    </body>
</html>